body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* height: 20vh; */
}
.form-container{
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}
.form-control{
    font-size: 14px;
    padding: 8px;
}
nav{
    background-image: url(../image/copas\ logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}